@tailwind base;
@tailwind components;

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@tailwind utilities;

.hover-effect {
  @apply transform transition duration-500 hover:scale-110;
}

.hover-underline-effect {
  @apply border-b-2 border-transparent hover:border-green-500 duration-300;
}
