@tailwind base;
@tailwind components;

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@tailwind utilities;

.hover-effect {
  @apply transform transition duration-300 hover:scale-110;
}
